<h1>Static#index</h1>
<p>Find me in app/views/static/index.html.erb</p>


<%= form_for @listing do |form| %>
  <%= form.label :specifications %>
  <%= form.text_field :specifications %>
  <%= form.label :country %>
  <%= form.country_select :country %>
  <%= form.label :cost %>
  <%= form.number_field :cost %>
  <%= form.file_field :photos, multiple: true %>
  <%= form.submit %>
<% end %>

<% if @listings.nil? %>
     <p>There are no listing at the moment</p>
<% else %>

    <h1>THE LIST</h1>
    <% @listings.each do |listing| %>
    <div class="row">

    <div class="col-md-8">
      <p>
      <%=link_to("#{listing.specifications} in #{listing.country}", listing)%>
      </p>
    <p><%= "Price : #{listing.cost}" %></p>
    </div>
  </div>
  <% end %>
<% end %>
